@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #F3F4FC;
  @apply ml-5 mr-8;
}

.container {
  @apply flex flex-col items-center;
}

.create_account {
  @apply font-playfair text-2xl sm:text-4xl font-semibold text-left mt-8 mb-8 w-full max-w-md ml-4;
}

.retour {
  @apply flex items-center font-roboto mt-4 pl-4 pr-4 sm:pl-10 sm:pr-10 w-full sm:max-w-md h-12 text-gray-500 border-none transition duration-300 rounded-full bg-white;
}

.retour:hover {
  @apply bg-gray-200 text-black;
}

.btn-primary {
  background-color: #4A5FF7;
  @apply w-full rounded-full font-roboto text-white py-3 px-6 border-none cursor-pointer transition duration-300;
}

.politics {
  @apply text-gray-500 font-poppins text-xs max-w-md mx-auto mt-4;
}

.underline {
  text-decoration: underline;
  font-weight: bold;
  font-family: 'Poppins', sans-serif;
  color: black;
}

.form-group {
  @apply space-y-1 w-full max-w-md ml-4;

  label {
    @apply font-poppins text-base text-gray-800 font-medium mb-2;
  }

  label[for="first-name"], label[for="last-name"], label[for="phone-number"] {
    @apply mt-4;
  }

  input, select {
    @apply w-full h-12 px-4 text-base border border-gray-300 rounded-xl bg-white text-gray-900;
    box-shadow: 0 -2px 4px -1px rgba(0, 0, 0, 0.05), 0 -1px 2px -1px rgba(0, 0, 0, 0.03);
  }

  .checkbox-label {
    @apply text-sm text-gray-400 flex items-center mt-2 pb-4 pt-4;
  }

  .select-input {
    @apply w-full rounded-xl border-0 py-3 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6 appearance-none bg-white relative;
  }

  .select-input::after {
    content: '\25BC';
    @apply absolute right-2 top-1/2 transform -translate-y-1/2 text-gray-500 pointer-events-none;
  }

  .placeholder-option {
    @apply text-gray-500;
  }

  .small-checkbox {
    @apply w-4 h-4 mr-4 align-middle;
  }
}

.fixed-footer {
  @apply fixed bottom-0 left-0 right-0 bg-white shadow-md flex justify-center items-center py-2;
  box-shadow: 0 -2px 4px -1px rgba(0, 0, 0, 0.05), 0 -1px 2px -1px rgba(0, 0, 0, 0.03);
}

.footer-item {
  @apply flex flex-col items-center text-xs text-gray-600 mx-8;
}

.footer-item svg {
  @apply mb-1;
}